@charset "utf-8"; 
/* background*/
html{
   background-image:url(hubble.jpg);
   background-repeat:no-repeat;
   background-size: 1950px 1400px;
}
/* background*/

/*Header*/
header{
  color:honeydew;
  margin-top: 5px;
  margin-left: .5px;
  margin-right: .5px;
  margin-bottom: 15px;
   padding-top: 1%;
   font-size: 25px;
   font-weight: bold;
   text-shadow: 3px 3px #dd98dd;
   font-family:'Comic Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   box-shadow:5px 5px 10px rgb(245, 186, 137);
   overflow: hidden;

}
nav.li{
text-align: left;
}
/*Header*/

body{
    max-width:890px;
    min-width:1080px;
    width:95%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 0%;
    background-color: rgb(210, 210, 245);
 }  
 /*body background*/
 #container{
   background-color: hsl(258, 19%, 52%);
   margin-top: auto;
   margin-left: .65x;
   margin-bottom: 15px;
   margin-right: .5px;
   padding:25px;
   box-shadow: 5px 5px rgb(51,51,51);
 }
 
 h1{
    display: block;
    text-align: center;
 }
 
 nav a:link, 
 nav a:visited {
    color: rgb(104, 33, 133);
 }

 .right{
   position: absolute;
   top: 40px;
   left: 1450px;
   
 }
 .submenuTitle{
   position: absolute;
   top:40px;
   left: 425px;
 }
 
 ul.submenu{
   display: none;
   position: flex;
   top: 100px;
   left: 425px;
 }

 a.submenuTitle:hover+ul.submenu, ul.submenu:hover{
   display:block;
 }

 /*Table Style*/

 table{
  background: white;
  border: 10px outset powderblue;
  font-size: 18px;
  width:25%;
  empty-cells: show;
  margin-left: auto;
  margin-right:auto;
 }
 table.tab th, table.tab td{
border:1px solid gray;
padding: 10px;
text-align: left;
font-weight: bold;
 }

 /* New Styles Added Below */
/*=======================
Mobile Styles:0px to 480px
=========================
*/
@media only screen and (max-device-width:480px){
  #container{
    font-size: 25px;
   }

   h1, h2{
    font-size: 35px;
  }

  li{
    font-size: 2.4em;
  }
  img{
    height: 5.5em;
  }

  table.tab{
    width:75%;
    font-size: 2.0em;
  }
}

   /*Menu*/
   /*=======================
  Tablet Styles:481px to greater
  ==========================
  */
  @media only screen and (min-width:481px){
    
  }


   /*=======================
Desktop Styles:769px to to greater;
=========================
*/
@media only screen and (min-width:769px){

}